body {
    background-color: lavender;
    margin: 0;
}

div {
background-color: aquamarine;
width: 200px;
height: 150px;
margin: 30px;
padding: 20px
border: 5px solid black
/*border-width: 5px;
border-style: solid;
border-color: black;*/
}
.box{
    
}

.title{
    font-weight: bold;
}

.description {
    color: aquamarine;
}

#special-box {
    background-color: crimson;
}