html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  z-index: 10;
}

#my-water {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: blue;
  width: 100px;
  height: 50px;
  border: 0px;
  
  z-index: 100;
  
  position: absolute;
  right: 5%;
  top: 5%;

  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:aqua;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

.image {
  position: absolute;
  transform: translate(-50%, -50%);
}

#img1 {
  left: 500px;
  top: 1300px;
}
#img2 {
  right: 100px;
  top: 4000px;
}

#img3 {
  left: 1000px;
  top: 1300px;
}

#img4 {
  left: 400px;
  top: 3600px;
}

#img5 {
  left: 300px;
  top: 2100px;
}

#img6 {
  left: 900px;
  top: 3000px;
}

#img7 {
  left: 900px;
  top: 2200px;
}

#img8 {
  left: 400px;
  top: 2950px;
  height: 400px
}


